.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.hooked_title {
  /* 背景色 */
  background-color: #000;
  /* 文字の色 */
  color: #FFF;
}

.search_field{
  font-size:1.3em;
}

.search_btn {
  /* 文字サイズを1.4emに指定 */
  font-size: 1.2em;
  /* 文字の太さをboldに指定 */
  font-weight: bold;
  /* 余白を指定 */
  padding: 0.4em;
  /* 要素との間隔 */
  margin: 1em;
}